@import '../../css/theme.scss';

.tool-section {
    justify-content: space-around;
	height: 100vh;
	background: linear-gradient(180deg, $blue 50%, white 50%);
	padding: 0px;
}

.centered-heading-container {
	@media (min-width: 500px) {
		align-self: center !important;
	}
}

.tools-text {
    text-align: center;
    color: white;
}

.tools-container {
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
    height: 60%;

	@media (min-width: 500px) {
		justify-content: space-evenly;
	}

	@media (min-width: 1200px) {
		height: 70%;
	}
}

.centered-text {
    text-align: center;
}

.arrows-container {
	margin-top: 10px;
}

.arrow {
	margin: 10px;
	font-size: 0.7em;
	cursor: pointer;
}