// colors
$blue: #3482b9;
$gray: #676767;
$yellow: #F8C95E;
$green: #2DBA9F;
$purple: #7852D9;

// languages
$java: #eb2d30;
$typescript: #3175c1;
$javascript: #f6df2b;

// sizes
$border-radius: 10px;