body{
    background-color: rgb(63, 20, 220);
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nonoverflow{
    overflow-x: hidden;
}
.jumbotron{
    background-color: rgb(63, 20, 220);
    border-radius: 0 !important;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
    margin-bottom: -1em;
}
.jumbotron h1, .jumbotron p{
    color: white;
}

.row{
    display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
}

.col-lg-6{
    background-color: white;
    width: 300px;
    height: 200px;
    padding: 2em;
    margin: 1.2em;
    align-items: center;
    transition: transform .5s;
    border-radius: .5em;
}

.col-lg-6:hover{
    transform: scale(1.1); 
    -mz-transition:width 19s;
    
}

a p{
    color: black;
}

h3{
    color: white;
}

.col-lg-12 a{
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}

#contact{
    margin-bottom: 2em;
}


