body{
    background-color: rgb(63, 20, 220);
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nonoverflow{
    overflow-x: hidden;
}
.jumbotron{
    background-color: rgb(63, 20, 220);
    border-radius: 0 !important;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
    margin-bottom: -3em;
}
.jumbotron h1, .jumbotron p{
    color: white;
}

.row{
    display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
}

.col-lg-6{
    background-color: white;
    width: 300px;
    height: 200px;
    padding: 2em;
    margin: 1.2em;
    align-items: center;
    transition: transform .5s;
    border-radius: .5em;
}

.col-lg-6:hover{
    transform: scale(1.1); 
    -mz-transition:width 19s;
    
}

a p{
    color: black;
}

h3{
    color: white;
}

.col-lg-12 a{
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}

#contact{
    margin-bottom: 2em;
}

.navbar{
    position: absolute;
    right: 0px;
    margin-right: 1em;
    margin-top: 1em;
}

.flag{
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
}

.flag img{
    width: auto;
  height: 100%;
  margin-left: -31%;
}

.language p{
    color: white;
    float: left;
    margin-right: 0.4em;
    margin-top: 0.3em;
}

.language{
    transition: transform .5s;

}

.language:hover{
    transform: scale(1.1); 
    -mz-transition:width 19s;

}


